examples/xsd/compositors.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="compositorExample">
    <xs:complexType>
      <xs:choice>
        <xs:element name="option1" type="xs:string"/>
        <xs:element name="option2" type="xs:integer"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>